%h2 #{mentorships_name_label}

- # My Groups
- groups = EffectiveResources.best('EffectiveMentorshipsGroupsDatatable').new(self, namespace: :effective)

- if groups.present?
  %p You are a member of the following #{mentorship_groups_label.downcase}:
  = render_datatable(groups, simple: true)

-# Available Registrations
- registered = EffectiveResources.best('EffectiveMentorshipsRegistrationsDatatable').new(self, namespace: :effective)
- available = EffectiveResources.best('EffectiveMentorshipsAvailableCyclesDatatable').new(self, namespace: :effective)

- if registered.present?
  = render_datatable(registered, simple: true)

- if available.present?
  = render_datatable(available, simple: true)

- if available.blank? && registered.blank?
  %p There are no #{'additional ' if groups.present? || registered.present?}#{etsd(Effective::MentorshipCycle)} available for registration. When there are, we'll show them here.
