- mentorship_cycle = mentorship_group.mentorship_cycle
- raise('expected a mentorship cycle') unless mentorship_cycle.present?

- if mentorship_cycle.rich_text_group_content.present?
  .mt-4= mentorship_cycle.rich_text_group_content

= effective_table_with(mentorship_group) do |f|
  = f.static_field :mentorship_cycle
  = f.static_field :title

%h3= mentorship_group_users_label

%table.table.table-sm
  %tbody
    - mentorship_group.mentorship_group_users.each do |mentorship_group_user|
      - user = mentorship_group_user.user

      %tr
        %td= mentorship_role_badge(mentorship_group_user.mentorship_role)
        %td= user
        %td= mail_to(user.email)
