= effective_form_with(model: [:admin, mentorship_group], engine: true) do |f|
  = f.select :mentorship_cycle_id, Effective::MentorshipCycle.sorted.all

  - if f.object.persisted?
    = f.static_field :title

  - if defined?(EffectiveArticleEditor)
    = f.article_editor :rich_text_admin_notes, label: "Admin Notes"
  - else
    = f.rich_text_area :rich_text_admin_notes, label: "Admin Notes"

  = f.check_box :archived, label: "Yes, this #{mentorship_group_label} is archived"

  %hr

  %h4= mentorship_group_users_label
  - ajax_url = (effective_resources.users_effective_ajax_index_path) unless Rails.env.test?

  = f.has_many :mentorship_group_users do |fu|
    = card do
      .row
        .col-md-3
          = fu.select :mentorship_role, mentorship_roles_collection(), required: true, label: false

        .col-md-9
          = fu.hidden_field :user_type, value: current_user.class.name
          = fu.select :user_id, current_user.class.all, label: false, ajax_url: ajax_url

  = effective_submit(f)
