- unless local_assigns[:namespace] == :admin
  = f.hidden_field :mentorship_cycle_id

= f.radios :opt_in, :boolean, label: "Do you wish to register in the #{f.object.mentorship_cycle || et('effective_mentorships.name')}?"

= f.hide_if(:opt_in, false) do
  = f.radios :mentorship_role, mentorship_roles_collection(), label: "Register as a:", required: true

  = f.show_if(:mentorship_role, 'mentor') do
    = f.radios :mentor_multiple_mentees_limit, [1, 2, 3, 4, 5], label: "How many #{mentorships_mentee_label.downcase.pluralize} are you willing to #{mentorships_mentor_label.downcase}?"

  = f.select :category, f.object.class.categories(), required: true
  = f.select :location, f.object.class.locations(), required: true
  = f.radios :venue, f.object.class.venues(), required: true

  - if mentorship_cycle.rich_text_registration_content.present?
    .my-4= mentorship_cycle.rich_text_registration_content

  = f.check_box :accept_declaration, label: "Yes, I accept the #{et('effective_mentorships.name')} agreement", required: true

- if defined?(EffectiveArticleEditor)
  = f.article_editor :rich_text_comments, label: "Comments"
- else
  = f.rich_text_area :rich_text_comments, label: "Comments"
