= effective_form_with(model: [:admin, mentorship_cycle], engine: true) do |f|
  = f.text_field :title,
    hint: "The title of this #{mentorship_cycle_label}. Something like #{Time.zone.now.year} #{mentorships_name_label}"

  .row
    .col-md-6= f.datetime_field :start_at, label: "#{mentorships_name_label} start"
    .col-md-6= f.datetime_field :end_at, label: "#{mentorships_name_label} end"

  .row
    .col-md-6
      = f.number_field :max_pairings_mentor, 
        label: "Max #{mentorships_mentors_label} per #{mentorship_group_label}",
        hint: "The maximum number of #{mentorships_mentors_label} that will be assigned to a #{mentorship_group_label}. Leave blank for no maximum."

      = f.number_field :max_pairings_mentee, label: "Max #{mentorships_mentees_label} per #{mentorship_group_label}",
        hint: "The maximum number of #{mentorships_mentees_label} that will be assigned to a #{mentorship_group_label}. Leave blank for no maximum."

  %hr

  %h2 Registration Opt-In
  %p The online registration opt-in will be available between:

  .row
    .col-md-6= f.datetime_field :registration_start_at, label: "Registration start", hint: "The first day that #{mentorships_mentors_label} and #{mentorships_mentees_label} can register for this #{mentorship_cycle_label}"
    .col-md-6= f.datetime_field :registration_end_at, label: "Registration end", hint: "The last day that #{mentorships_mentors_label} and #{mentorships_mentees_label} can register for this #{mentorship_cycle_label}"

  - if defined?(EffectiveArticleEditor)
    = f.article_editor :rich_text_registration_content, label: "Registration opt-in content", hint: "Will be displayed to the user when registering for this #{mentorship_cycle_label}"
  - else
    = f.rich_text_area :rich_text_registration_content, label: "Registration opt-in content", hint: "Will be displayed to the user when registering for this #{mentorship_cycle_label}"

  = f.submit do
    = f.save 'Save'
    - if f.object.persisted?
      = f.save 'Duplicate', class: 'btn btn-info'

